@charset "utf-8";
#logo {clear:both;padding: 0;z-index: 1010;float:left;}
#mlogo {display:none;float:left;}
#mlogo img {height:80px;margin-left:15px;}

#hd_pop {z-index:1000;position:relative;margin:0 auto;width:1200px;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}


#hd {z-index: 10 !important;position:relative;background:#000;}
.hd_zindex {z-index:10 !important}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_wrapper {position:relative;margin:0 auto; width:1200px;zoom:1;}
#hd_wrapper:after {display: block; visibility:hidden; clear:both; content:"";}
.header {clear:both;width:100%;margin:0 auto;position:relative;}


#tnb {float:right;margin:0;list-style:none;zoom:1;}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb a {display:inline-block;padding: 0 20px;font-size: 11px;line-height:30px;color:#fff;}
#tnb a:focus, #tnb a:hover, #tnb a:active {text-decoration:none}


#hd_sch {float:left;margin:31px 0 0 50px;padding:0;border:3px solid #CA2239;border-right:none;background:#fff;}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#hd_sch #sch_stx {padding-left:5px;width:310px;height:25px;border:0;background:#fff;line-height:25px;}
#hd_sch #sch_submit {padding:0px;border:0;background:#CA2239;cursor:pointer}



#shd_sch {margin:50px auto 50px;padding:0;background:#fff;width:334px;}
#shd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#shd_sch #sch_stx {padding-left:5px;width:284px;height:37px;border:0;background:#e4e4e4;line-height:37px;}
#shd_sch #sch_submit {padding:0px;border:0;background:#8e1235;cursor:pointer}


#wrapper {clear:both;z-index:5;margin: 0 auto 0;width:100%;  zoom:1;}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
.inner {clear:both;width:1200px;margin:0 auto;position:relative;}


#ft_menu {clear:both;background:#2a2a2a;width:100%;}
#ft_menu a {display:inline-block;padding:10px 30px;border-right:1px solid #353535;font-size:12px;color:#fff;}
#ft_menu a:first-child {border-left:1px solid #353535;}
#ft {clear:both;background:#353535;padding:30px 0;font-size:12px;color:#8a8a8a;}
#ft:after {display:block;visibility:hidden;clear:both;content:""}

#ft p {text-align:center;line-height:18px}

/* main menu */
#gnbmobile {display:none;}
#gnb {position:relative; text-align:center;background:#ffffff;}
#gnb ul {overflow:hidden; width:1200px; margin:0 auto; padding:0;background:#ffffff;}
#gnb ul li {float:left; width:150px; margin:0; padding:0; text-align:center; list-style:none;}
#gnb ul li a {display:block; padding:15px 0; color:#ffffff;font-size:17px;font-weight:600;}
#gnb ul li.on a,
#gnb ul li a:hover {background-color:#ffffff; color:#ffffff;}
#gnb ul li div {display:none; position:absolute; left:0; top:46px; width:100%; padding:10px 0; border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd; background-color:#ffffff;}
#gnb ul li div ul {width:1200px;margin:0 auto; padding:0;border:none;}
#gnb ul li div ul li {float:left; width:auto;border:none;}
#gnb ul li div ul li a {font-size:90%; padding:3px 10px; color:#999;}
#gnb ul li.on div ul li a {background:none; color:#999;}
#gnb ul li div ul li a:hover {background:none; color:#333;}
#gnb ul li:nth-child(5) div ul {padding-left:580px;}
#gnb ul li:nth-child(8) div ul {padding-left:820px;}


/*mobile menu */
#gnb_open {position:absolute;top:20px;right:20px;padding:0 10px;height:3em;border:1px solid #8e1235;background:#CA2239;color:#fff;font-size:1em;letter-spacing:-0.1em;border-radius:5px;z-index:99999999999999999999}
#gnbm {display:none;padding:80px 0 0 0;}
#gnbm a {display:block;color:#efefef}
.gnbm_1da {padding:10px;border-top:1px solid #191919}
.gnbm_2dul {background:#ffffff}
.gnbm_1dli {background:#ffffff;}
.gnbm_2da {padding:10px;border-top:1px solid #282828}
.gnbm_2da span:before {display:inline-block;margin:0 10px 0 0;color:#fff;content:'-'}
#gnbm_close {display:block;margin:0;padding:10px 0;width:100%;border:0;background:#000;color:#fff}	
#gnbm button {border:none;}
#footer_mobile {display:none;}
/* index */
#mainVisual_wrap {clear:both;width:100%; position:relative; height:613px; margin:0 auto; }
.main_visual {clear:both;position:relative;top:0px;width:100%;margin:0 auto;padding:0;height:613px;z-index:1;}
#slideshow {clear:both; width:100%; height:613px;position:absolute;top:0px;z-index:1;left:0;}
#slides {position:relative; width:100%; height:100%;margin:auto;}
#slides li {width:100%; height:613px;}

.sliderbutton {position:absolute;left:0;top:200px;z-index:9999999999;cursor:pointer;}
.sliderbutton1 {position:absolute;right:0;top:200px;z-index:9999999999999999999;cursor:pointer;}


#slides li.main1 {background:url('../../resources/images/main1.png')no-repeat top center; background-size:cover;}
#slides li.main2 {background:url('../../resources/images/main2.png')no-repeat top center; background-size:cover;}
#slides li.main3 {background:url('../../resources/images/main3.png')no-repeat top center; background-size:cover;}
/* resources/ */

.pagination {position:relative;list-style:none; height:12px; margin:0px auto 0;z-index:1000;width:50px;padding:570px 0 0 0px;}
.pagination li {float:left; cursor:pointer; width:12px;height:12px;font-size:0;background:#fff;margin:0 3px 0 0;border-radius:10px;}
.pagination li:hover {background:#8e1235;}
li.current {background:#8e1235;}



.mainContent03 {width:1200px;margin:0px auto 60px;border-top:none;padding:0;}
.mainContent03:after {display:block;visibility:hidden;clear:both;content:""}
.mainContent03 h3 {margin-top:60px;margin-bottom:20px;}

.mainContent01 {clear:both;width:100%;margin:0px auto 0px;border-top:1px solid #dddddd;padding:60px 0;}
.mainContent01:after {display:block;visibility:hidden;clear:both;content:""}
.mainContent01 .inner {width:1200px;margin:0px auto 0px;}
.mainContent01 .inner:after {display:block;visibility:hidden;clear:both;content:""}
.mainContent01 .inner li {float:left;width:25%;color:#737373;font-size:13px;border-left:1px solid #dddddd;padding-left:114px;}
.mainContent01 .inner li:first-child {border-left:none;}
.mainContent01 .inner li h4 {color:#000000;font-size:24px;margin-bottom:10px;}
.mainContent01 .inner li .tel {color:#b22800;font-size:24px;font-weight:600;}
.mainContent01 .inner li.one {background:url('../../images/bg1.png') no-repeat;}
.mainContent01 .inner li.two {background:url('../../images/bg2.png') no-repeat;}
.mainContent01 .inner li.three {background:url('../../images/bg3.png') no-repeat;}
.mainContent01 .inner li.four {background:url('../../images/bg4.png') no-repeat ;}

/*sub*/
#subContent {clear:both;width:1200px;margin:0px auto 30px;}
#subContent:after {display:block;visibility:hidden;clear:both;content:""}
.sub-visual01 {clear:both;margin:0;height:250px;background:url(../../images/sub.png) no-repeat center center;width:100% ;}

.lnbWrap {width:100%;margin:0px 0 0px 0px;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.lnbWrap:after {display: block; visibility:hidden; clear:both; content:"";}
div#menu:after {display: block; visibility:hidden; clear:both; content:"";}
div#menu, div#menu div {margin:0 auto;padding:0;text-align:center;}
div#menu a {display: inline-block;text-decoration: none;padding:12px 40px;font-size:14px;font-weight:bold;background-color: rgba(255,255,255,0.8);border-right:1px solid #cdcdcd;}
div#menu a.on {color: #fff;background:#1c0811;}
div#menu a.on:hover {color: #fff;background:#1c0811;}
div#menu a:first-child {border-left:1px solid #cdcdcd;}
    

.contents {width:100%;margin:0 0px;min-height:500px;}

.contents .tit-sec {position:relative;width:100%;margin:0px auto 0px;height:80px;}
.contents .tit-sec h3 {font-size:28px;font-weight:600;color:#3c3c3c;letter-spacing:-2px;padding:30px 0 0 0;}
.contents .tit-sec div.nav {position:absolute;top:35px;right:0;line-height:25px;font-size:11px;}
.contents .tit-sec div.nav span {color:#000;}


.bigf {display:block;font-size:30px;font-family:tahoma;color:#000;}
.bigf img {width:95%;margin:0px auto 10px;}
.bigs {font-size:14px;line-height:22px;}
.bigs strong {font-size:22px;color:#8e1235;display:block;margin:0 0 20px 0;line-height:26px}
.company_01 h3 {font-size:2em;margin-bottom:20px;color:#30579d;}
.business_01 h3 {font-size:2em;margin-bottom:20px;color:#30579d;}

.f16 {font-size:16px;margin:20px 0;display:block;color:#000;}


@media (min-width: 1240px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 991px) {
#mlogo {display:block;}
#logo {display:none;}
#hd {height:85px;}
#hd_pop {width:100%;}
#hd {width:100%;}
#hd_wrapper {display:none;}
.header {width:100%;}
#tnb{display:none;}
#ft_menu a {padding:10px 10px;}
.inner {clear:both;width:90%;margin:0 auto;position:relative;}

#gnb {display:none;}
#gnbmobile {display:block;}
#footer_mobile {display:none;}


.sub-visual01 {height:80px;background-size:cover !important;}
.page-title  {width:90%;margin:0px auto 0;}
.page-title h2 {padding:40px 0 0 0;}

div#menu a {padding:8px 10px;font-size:12px;}

.pagination {display:none;}
#mainVisual_wrap { height:313px;}
.main_visual {height:313px;}
#slideshow {height:313px;}
#slides li {height:313px;background-size:cover !important;}



.mainContent01 {padding:0px 0;}
.mainContent01 .inner {width:100%;}
.mainContent01 .inner li {float:none;width:100%;border-left:none;border-bottom:1px solid #dddddd;padding-top:20px;padding-bottom:20px;background-position: 0 30px !important;}
.mainContent03 {width:95%;padding:0px;border:none;}
.mainContent03 h3 img {width:100%;}
.mainContent03 h3 {margin-top:20px;margin-bottom:10px;}

#subContent {width:95%;margin:0 auto;}

}

@media (min-width: 480px) and (max-width: 767px) {
#mlogo {display:block;}
#logo {display:none;}
#hd {height:85px;}
#hd_pop {width:100%;}
#hd {width:100%;}
#hd_wrapper {display:none;}
.header {width:100%;}
#tnb{display:none;}
#ft_menu a {padding:10px 10px;}
.inner {clear:both;width:90%;margin:0 auto;position:relative;}

#gnb {display:none;}
#gnbmobile {display:block;}

.sub-visual01 {height:80px;background-size:cover !important;}
.page-title  {width:90%;margin:0px auto 0;}
.page-title h2 {padding:40px 0 0 0;}

div#menu a {padding:8px 10px;font-size:12px;}

.pagination {display:none;}
#mainVisual_wrap { height:313px;}
.main_visual {height:313px;}
#slideshow {height:313px;}
#slides li {height:313px;background-size:cover !important;}


.mainContent01 {padding:0px 0;}
.mainContent01 .inner {width:100%;}
.mainContent01 .inner li {float:none;width:100%;border-left:none;border-bottom:1px solid #dddddd;padding-top:20px;padding-bottom:20px;background-position:0 30px !important;}
.mainContent03 {width:95%;padding:0px;border:none;}
.mainContent03 h3 img {width:100%;}
.mainContent03 h3 {margin-top:20px;margin-bottom:10px;}

#subContent {width:95%;margin:0 auto;}

#footer_mobile {clear:both;width:100%;display:block;background:#1b1b1b url(../../images/mobile_footer_bg.png) repeat-x;}
#footer_mobile:after {display: block; visibility:hidden; clear:both; content:"";}
#footer_mobile ul {width:340px;margin:0 auto;}
#footer_mobile li {float:left;width:25%;}#footer_mobile li img {width:100%;}

}

@media (max-width: 479px) {
#mlogo {display:block;}
#logo {display:none;}
#hd {height:85px;}
#hd_pop {width:100%;}
#hd {width:100%;}
#hd_wrapper {display:none;}
.header {width:100%;}
#tnb{display:none;}
#ft_menu a {padding:10px 10px;}
.inner {clear:both;width:90%;margin:0 auto;position:relative;}

#gnb {display:none;}
#gnbmobile {display:block;}

.sub-visual01 {height:80px;background-size:cover !important;}
.page-title  {width:90%;margin:0px auto 0;}
.page-title h2 {padding:40px 0 0 0;}

div#menu a {padding:8px 10px;font-size:12px;}

.mainNotice h4 {float:none;}

.pagination {display:none;}
#mainVisual_wrap { height:220px;}
.main_visual {height:220px;}
#slideshow {height:220px;}
#slides li {height:220px;background-size:cover !important;}

.mainContent01 {padding:0px 0;}
.mainContent01 .inner {width:100%;}
.mainContent01 .inner li {float:none;width:100%;border-left:none;border-bottom:1px solid #dddddd;padding-top:20px;padding-bottom:20px;background-position:0 30px !important;}
.mainContent03 {width:95%;padding:0px;border:none;}
.mainContent03 h3 img {width:100%;}
.mainContent03 h3 {margin-top:20px;margin-bottom:10px;}

#subContent {width:95%;margin:0 auto;}

#footer_mobile {clear:both;width:100%;display:block;background:#1b1b1b url(../../images/mobile_footer_bg.png) repeat-x;}
#footer_mobile:after {display: block; visibility:hidden; clear:both; content:"";}
#footer_mobile ul {width:340px;margin:0 auto;}
#footer_mobile li {float:left;width:25%;}#footer_mobile li img {width:100%;}

}