<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.myPage">

	
	<!-- 주문된 제품 상세 목록 -->
	<select id="getOrderedDetailList" resultType="OrderedDetailDto">
		<include refid="getDtoJoin"></include>
		and o.fk_member_id = #{member_id}
		order by order_detail_no desc
	</select>
	
	
	<!-- order_detail_no 상태코드3 반품 요청으로 바꾸기  -->
	<update id="requestReturn">
		update tal_order_detail set
		   fk_order_detail_status_code = 3
		where order_detail_no = #{order_detail_no}
	</update>
	
	
	<!-- order_no의 상태코드FK_ORDER_STATUS_CODE를 3	반품 대기로 변경  -->
	<update id="setOrderNo">
		update tal_order set
		   fk_order_status_code = 3
		where order_no = #{order_no}
	</update>
	
		
	<!-- 주문된 제품 상세 하나 얻기 -->
	<select id="getOneOrderedDetail" resultType="OrderedDetailDto">
		<include refid="getDtoJoin"></include>
		and od.fk_order_detail_status_code = 1
		and order_detail_no = #{order_detail_no}
	</select>
	
	
	<!-- 주문 처리용 DTO 컬럼 조인으로 얻기 -->
	<sql id="getDtoJoin">
		select o.order_no,  
			od.order_detail_no,
		    p.product_image,
		    od.fk_product_id as product_id,
		    p.product_kor_name,
		    p.product_price,
		    od.order_product_amount,
		    to_char(o.order_date, 'YYYY/MM/DD') as order_date, 
		    o.fk_member_id as member_id, 
		    o.fk_order_status_code as order_status_code, 
		    od.fk_order_detail_status_code as order_detail_status_code,
		    odsc.order_detail_status_descript
		from tal_order o, tal_order_detail od, tal_product p, tal_order_detail_status_code odsc
		where o.order_no = od.fk_order_no
		and od.fk_product_id = p.product_id
		and odsc.order_detail_status_code = od.fk_order_detail_status_code
	</sql>	

	
</mapper>
