<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.team.mappers.nonmemberboard">
  
  <insert id="nonInsertBoardMember">
   insert into non_memberBoard(bno,writer,title,email,pwd,content,reg_date,readcount,re_group,re_step,re_level) 
    values(seq_sno.nextval,#{writer},#{title},#{email},#{pwd},#{content},sysdate,#{readcount},seq_sno.nextval,#{re_step},#{re_level})
  </insert>
  
  
  <select id="nonSelectListBoardMember" resultType="NonMemberBoardVo">
  select * from non_memberBoard order by bno
  </select>
<!-- 	bno,writer,title,reg_date,readcount -->
  
  <select id="nonSelectBoardMember" resultType="NonMemberBoardVo">
  select * from non_memberBoard where bno=#{bno}
  </select>
  
  <update id="nonUpdateBoardMember">
  update non_memberBoard set 
  writer=#{writer},
  title=#{title},
  email=#{email},
  content=#{content} where bno=#{bno}
  </update>
  
  <delete id="nonDeleteBoardMember">
  delete from non_memberBoard where bno=#{bno}
  </delete>
  
  <insert id="nonInsertReply">
  	insert into non_memberBoard(bno,writer,title,content,re_group,re_step,re_level) 
  	 values(seq_sno.nextval,#{writer},#{title},#{content},#{re_group},#{re_step}+1,#{re_level}+1)
  </insert>
  
  
  
  
  
  
  
  
  
  
  </mapper>