<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.product">


	
	<!-- 카테 목록 -->
	<select id="cateList" resultType="ProductCate">
		select * from tal_product_cate
		order by cate_code
	</select>
	
	
	
	<!-- 글 조회 1개-->
	<select id="read" resultType="ProductVo">
		select * from tal_product
		where product_id = #{product_id}
	</select>
	
	
	<select id="list" resultType="ProductVo">
		select * from tal_product
		<if test="cate_code != null">
		where cate_code = #{cate_code}
		</if>
			<if test="searchType != null and keyword != null">
				and product_name like '%' || #{pagingDto.keyword} || '%'
			</if>
		order by product_name desc
  	</select>
  	
  	<select id="detail" resultType="ProductVo">
		select * from tal_product
		where product_id = #{product_id}
	</select>
	
	
	
	<!-- 구매에도 추가 -->
	<insert id="addCart">
		insert into tal_cart(cart_id, member_id, product_id, product_count)
		values(seq_cart_id.nextval, #{member_id}, #{product_id}, #{product_count}) 	
	</insert>
	
  	<!-- 구매와 동시에 카트 삭제 -->
	<delete id="deleteCart">
		delete from tal_cart 
			where cart_id = #{cart_id}
	</delete>	
  	
  	
	<!-- order에 제품 정보 삽입 -->
  	<insert id="insertOrder">
		insert into tal_order
		values(seq_order_no.nextval, sysdate,
		(select distinct member_id from tal_cart
 			where member_id = #{member_id}), 1)
	</insert>
	
	
	<!-- orderDetail에 제품 정보 삽입 -->
	<insert id="insertOrderDetail">
		insert into tal_order_detail
			(order_detail_no, order_product_amount, 
			fk_order_detail_status_code, fk_order_no, fk_product_id)
				values(seq_order_detail_no.nextval, #{product_count}, 1, (select (max(order_no)) from tal_order),#{product_id})
	</insert>
	
	
</mapper>